body {
    background-color: #ffffff;
}

header #logo {
    width: 25%;
    max-width: 200px;
    flex-wrap: wrap;
   
}

h1 {
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#76b7ad;
    font-size: 36px;
    text-align: end;
  
}
