body {
    background-color: #fbf4f4;
}

header {
    padding: 30px;
  text-align: center;
  background: #f2aca4;
  color: white;
  font-size: 30px;
   
}

h1 {
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#76b7ad;
    font-size: 36px;
    text-align: end;
}
